.wrapper {
  height: 50vh;
  width: 5rem;
  position: fixed;
  top: 50%;
  right: 2rem;
  z-index: 10000;
  transform: translateY(-50%);
}

.controller {
  /* background: white; */
  border-radius: 0.75rem;
}

.container {
  width: 5rem;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 3rem;
}
