.wrapper {
  width: 50rem;
  position: fixed;
  bottom: 10%;
  left: 50%;
  z-index: 10000;
  transform: translate(-50%, -50%);
}

.controller {
  background: white;
  border-radius: 0.75rem;
}

.container {
  width: 50rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}
