.controller {
  background: white;

  transform: translateX(-50%);
  z-index: 9999;

  border-radius: 0.75rem;
}

.container {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}
