/**
build a torch effect
**/

.playground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('../background.jpg');
	background-size: contain;
	background-position: top left;
	background-repeat: no-repeat;

	transform: scale(var(--scale));
	transform-origin: left top;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('../background.jpg');
	background-size: contain;
	background-position: top left;
	background-repeat: no-repeat;
	mix-blend-mode: difference;
	z-index: 1;
	transform-origin: left top;

	transform: scale(var(--scale));
}
