.torch {
	width: 25rem;
	height: 25rem;
	background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.35) 100%);
	z-index: 10;
	position: absolute;
}

.torch:hover {
	cursor: pointer;
	box-shadow: 0px 3px 23px rgba(200, 200, 200, 0.25);
}

.round {
	border-radius: 50%;
}

.size-tiny {
	width: 3rem;
	height: 3rem;
}

.size-small {
	width: 5rem;
	height: 5rem;
}

.size-medium {
	width: 8rem;
	height: 8rem;
}

.size-big {
	width: 12rem;
	height: 12rem;
}

.size-large {
	width: 15rem;
	height: 15rem;
}

.size-huge {
	width: 18rem;
	height: 18rem;
}

.red {
	background: #ff0000;
}
